.swiper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.swiper-slide {
    background-color: var(--body-color);
}

.swiper-button-next {
    color: var(--first-color);
    font-size: 1rem;
}

.swiper-button-prev {
    color: var(--first-color);
    font-size: 1rem;
}

.swiper-portfolio-icon {
    color: var(--first-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}
